* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  margin: 20px auto;
  width: 1140px;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .head-icon {
  font-size: 2rem;
}
.header .header-img {
  width: 60px;
}

.banner {
  position: relative;
  color: white;
  background-image: url(./image/pexelsphoto1120344.jpeg);
  height: 700px;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.banner .banner__background {
  background-color: #841df7;
  z-index: 1;
  height: inherit;
  opacity: 0.5;
}
.banner .banner__item {
  margin: auto;
  top: 150px;
  position: absolute;
  left: 12%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 722px;
  min-height: 417px;
  height: auto;
  max-width: 75%;
}
.banner .banner__item h1 {
  font-size: 5rem;
}
.banner .banner__item p {
  max-width: 578px;
  margin-top: 20px;
  font-size: 1.5rem;
}
.banner .banner__item .bn--line {
  margin-top: 40px;
  width: 130px;
  height: 15px;
  background-color: white;
}

.section1 {
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 0px;
}
.section1 .s1__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}
.section1 .s1__flex .s1__item {
  margin: 10px;
  width: 33.3333333%;
}
.section1 .s1__flex .s1__it--flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section1 .s1__flex .s1__it--flex1 .flex1--flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section1 .s1__flex .s1__it--flex1 .flex1--flex h2 {
  margin: 50px 0px 0 0;
  font-size: 2.25rem;
  font-weight: 100;
}
.section1 .s1__flex .s1__it--flex1 .flex1--flex p {
  margin: 30px 22px 0 0;
  color: #841df7;
  font-size: 1.125rem;
}
.section1 .s1__flex .s1__it--flex1 .flex1--flex .flex1--italic {
  color: #666666;
  line-height: 20px;
  margin: 20px 0 0 0;
  font-size: 0.9rem;
  font-style: italic;
}
.section1 .s1__flex .s1__it--flex1 .flex1--flex .flex1--button {
  width: 150px;
  height: 45px;
  border: 1px solid #841df7;
  background: #f2f2f2;
  margin: 30px 0;
}
.section1 .s1__flex .s1__it--flex1 .flex1--flex .flex1--button:hover {
  background-color: #5626c4;
  color: white;
}
.section1 .s1__flex .s1__it--flex2 {
  background-image: url(./image/pexelsphoto1204649.jpeg);
  min-height: 643px;
  background-position: center;
}
.section1 .s1__flex .s1__it--flex2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section1 .s1__flex .s1__it--flex3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section1 .s1__flex .s1__it--flex3 .s1--flex3--img {
  margin-bottom: 10px;
  background-image: url(./image/pexelsphoto313691.jpeg);
  min-height: 300px;
  background-size: cover;
}
.section1 .s1__flex .s1__it--flex3 .s1--flex3--img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section1 .s1__flex .s1__it--flex3 .flex3--text {
  font-size: 0.95rem;
  text-align: center;
  color: white;
  margin-top: 10px;
  background-color: #4d58d7;
  padding: 32% 20px;
  height: 50%;
}

.section2 {
  padding: 70px 0;
  background-color: #37363b;
}
.section2 h2 {
  color: white;
  font-size: 2.25rem;
  font-weight: 100;
  text-align: center;
}
.section2 .s2__flex {
  margin: 3rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section2 .s2__flex .s2__flex--item {
  width: 220px;
  max-width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
}
.section2 .s2__flex .s2__flex--item h4 {
  font-size: 1.25rem;
  font-weight: 100;
  max-width: 220px;
  margin-top: 20px;
  padding: 10px 0;
}
.section2 .s2__flex .s2__flex--item .s2--icon {
  margin: 20px auto 0 auto;
  font-size: 2.5rem;
  background: #7f44c0;
  border-radius: 50%;
  padding: 20px 22px;
}

.section3 {
  background-color: #f2f2f2;
  padding: 70px 0;
}
.section3 h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
.section3 .s3__flex {
  max-width: 90%;
  margin: auto;
  width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section3 .s3__flex .s3__flex__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section3 .s3__flex .s3__flex__item .flex--item {
  background-position: center;
  background-size: cover;
  width: 48%;
  height: 330px;
  margin: 10px;
}
.section3 .s3__flex .s3__flex__item .flex--item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section3 .s3__flex .s3__flex__item .s3--bg1 {
  background-image: url(./image/Untitled2.png);
}
.section3 .s3__flex .s3__flex__item .s3--bg2 {
  background-image: url(./image/Untitled1.png);
}
.section3 .s3__flex .s3__flex__item .s3--bg3 {
  background-image: url(./image/Untitled3.png);
}
.section3 .s3__flex .s3__flex__item .s3--bg4 {
  background-image: url(./image/Untitled4.png);
}

.section4 {
  padding: 70px 0;
  background-color: #4d58d7;
}
.section4 .s4__flex {
  max-width: 75%;
  width: 700px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section4 .s4__flex h3 {
  font-size: 2.25rem;
  color: white;
  font-weight: 500;
}
.section4 .s4__flex .s4--button {
  width: 12rem;
  height: 3rem;
  margin-top: 30px;
  background: #4d58d7;
  color: white;
  border: 2px solid white;
  font-size: 1rem;
}
.section4 .s4__flex .s4--button:hover {
  background-color: white;
  color: black;
}

.section5 {
  padding: 70px 0;
  background-color: #37363b;
}
.section5 .s5__flex {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 900px;
  max-width: 100%;
}
.section5 .s5__flex h2 {
  font-size: 2.25rem;
  color: white;
  font-weight: 400;
  text-align: center;
}
.section5 .s5__flex .s5--input {
  margin: 60px 80px 0 80px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section5 .s5__flex .s5--input .s5--input--it {
  background-color: #37363b;
  border: 1px solid white;
  color: white;
  margin-bottom: 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.footer {
  font-size: 0.9rem;
  padding: 35px 0;
  background-color: #333333;
  color: white;
  text-align: center;
}
.footer a {
  color: #ffb2bf;
}
.footer a:hover {
  color: #f2f2f2;
}

@media screen and (max-width: 767px) {
  .banner .banner__item {
    left: 0;
  }
  .banner .banner__item h1 {
    font-size: 3.5rem;
  }

  .section1 .s1__flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1 .s1__flex .s1__item {
    width: 70%;
  }

  .section3 .s3__flex__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section3 .flex--item {
    width: 80% !important;
  }
}
@media screen and (max-width: 500px) {
  .banner .banner__item {
    margin: 0 10%;
    min-height: 330px;
    bottom: 0;
    top: auto;
  }
  .banner .banner__item h1 {
    font-size: 2.75rem;
  }
  .banner .banner__item p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .banner {
    max-height: 80vh;
  }
  .banner .banner__item {
    margin: 0 5%;
  }
  .banner .banner__item h1 {
    font-size: 2.25rem;
  }
  .banner .banner__item p {
    font-size: 1rem;
  }
  .banner .banner__background {
    max-height: 80vh;
  }

  .section5 h2 {
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 1180px) {
  .section1 .s1__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section1 .s1__flex .s1__it--flex3 {
    width: 70%;
    height: 50%;
  }
  .section1 .s1__flex .s1__it--flex3 .flex3--text {
    padding: 25% 20px;
  }

  .section2 .s2__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 70%;
  }
  .section2 .s2__flex .s2__flex--item {
    margin: 24px;
    max-width: 100%;
    width: 300px;
  }
  .section2 .s2__flex .s2__flex--item h4 {
    width: 300px;
    max-width: 100%;
  }
}