* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  .head-icon {
    font-size: 2rem;
  }
  margin: 20px auto;
  width: 1140px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  .header-img {
    width: 60px;
  }
}
.banner {
  position: relative;
  color: white;
  background-image: url(./image/pexelsphoto1120344.jpeg);
  height: 700px;
  background-size: cover;
  background-position: center;
  z-index: 0;
  .banner__background {
    background-color: #841df7;
    z-index: 1;
    height: inherit;
    opacity: 0.5;
  }
  .banner__item {
    margin: auto;
    top: 150px;
    position: absolute;
    left: 12%;
    box-sizing: border-box;
    padding: 15px;
    flex-direction: column;
    display: flex;
    width: 722px;
    min-height: 417px;
    height: auto;
    max-width: 75%;

    h1 {
      font-size: 5rem;
    }
    p {
      max-width: 578px;
      margin-top: 20px;
      font-size: 1.5rem;
    }

    .bn--line {
      margin-top: 40px;
      width: 130px;
      height: 15px;
      background-color: white;
    }
  }
}
.section1 {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 60px 0px;

  .s1__flex {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    .s1__item {
      margin: 10px;
      width: 33.3333333%;
    }
    .s1__it--flex1 {
      display: flex;
      flex-direction: column;
      .flex1--flex {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          margin: 50px 0px 0 0;
          font-size: 2.25rem;
          font-weight: 100;
        }
        p {
          margin: 30px 22px 0 0;

          color: #841df7;
          font-size: 1.125rem;
        }
        .flex1--italic {
          color: #666666;
          line-height: 20px;
          margin: 20px 0 0 0;
          font-size: 0.9rem;
          font-style: italic;
        }
        .flex1--button {
          width: 150px;
          height: 45px;
          border: 1px solid #841df7;
          background: #f2f2f2;
          margin: 30px 0;
        }
        .flex1--button:hover {
          background-color: #5626c4;
          color: white;
        }
      }
    }
    .s1__it--flex2 {
      background-image: url(./image/pexelsphoto1204649.jpeg);
      min-height: 643px;
      background-position: center;
    }
    .s1__it--flex2::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .s1__it--flex3 {
      position: relative;
      display: flex;
      flex-direction: column;
      .s1--flex3--img {
        margin-bottom: 10px;
        background-image: url(./image/pexelsphoto313691.jpeg);
        min-height: 300px;
        background-size: cover;
      }
      .s1--flex3--img::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .flex3--text {
        font-size: 0.95rem;
        text-align: center;
        color: white;
        margin-top: 10px;
        background-color: #4d58d7;
        padding: 32% 20px;
        height: 50%;
      }
    }
  }
}
.section2 {
  padding: 70px 0;
  h2 {
    color: white;
    font-size: 2.25rem;
    font-weight: 100;
    text-align: center;
  }
  background-color: #37363b;
  .s2__flex {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: center;
    .s2__flex--item {
      h4 {
        font-size: 1.25rem;
        font-weight: 100;
        max-width: 220px;
        margin-top: 20px;
        padding: 10px 0;
      }
      width: 220px;
      max-width: 100%;
      text-align: center;
      color: white;
      padding: 10px;
      .s2--icon {
        margin: 20px auto 0 auto;
        font-size: 2.5rem;
        background: #7f44c0;
        border-radius: 50%;
        padding: 20px 22px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .banner {
    .banner__item {
      left: 0;

      h1 {
        font-size: 3.5rem;
      }
    }
  }
  .section1 {
    .s1__flex {
      align-items: center;
      flex-direction: column;
      .s1__item {
        width: 70%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .banner {
    .banner__item {
      min-height: 330px;
      bottom: 0;
      top: auto;
      h1 {
        font-size: 2.75rem !important;
      }
      p {
        font-size: 1.25rem !important;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .banner {
    .banner__background {
      max-height: 80vh;
    }
    max-height: 80vh;
  }
}
@media screen and (max-width: 1180px) {
  .section1 {
    .s1__flex {
      flex-wrap: wrap;

      .s1__it--flex3 {
        width: 70%;
        height: 50%;
        .flex3--text {
          padding: 25% 20px;
        }
      }
    }
  }
  .section2 {
    .s2__flex {
      flex-wrap: wrap;
      min-width: 70%;
      .s2__flex--item {
        margin: 24px;
        max-width: 100%;
        width: 300px;
        h4 {
          width: 300px;
          max-width: 100%;
        }
      }
    }
  }
}
